@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #c5e5fc;
  --primary-200: #a5d5f8;
  --primary-300: #8bcbf9;
  --primary-400: #6ebef7;
  --primary-500: #49a6e9;
  --primary-600: #2d87c8;
  --primary-700: #1a6aa2;
  --primary-800: #104e7a;
  --primary-900: #063251;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
/* ============= PROJECT CSS =============== */

nav {
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.nav-btn-1 {
  color: #7d7d7d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  text-transform: capitalize;
}

.nav-btn-2 {
  border-radius: 30px;
  background: #f27a44;
  outline: none;
  border: none;
  color: var(--white);
  height: 45px;
  width: 125px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}

.links a {
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  margin-right: 2rem;
  font-family: Inter;
}

.links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}
/* 160px */

.links-container {
  overflow: hidden;
  transition: var(--transition);
}

.social-icons {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-header {
    padding: 0;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    gap: 0.5rem;
  }
  .links a {
    padding: 0;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

/* -------------- Hero -------------- */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f8f1d340;
  min-height: 100vh;
  min-width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.text-container-1 {
  padding: 4rem 2rem;
  text-transform: capitalize;
  margin-top: 4rem;
}

.text-container-1 h1 {
  display: inline;
}

.image-1 {
  height: 540px;
  width: 400px;
  margin: 0;
}

.text-1-1 {
  color: #1f2027;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.head-1-1 {
  color: #1f2027;
  font-family: Poppins;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.6px;
}

.head-1-2 {
  font-style: normal;
  font-weight: 500;
}

.text-1-2 {
  color: #505c59;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.assignment-btn {
  height: 51px;
  width: 145px;
  background-color: #f27a44;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.hero-shape-1 {
  position: absolute;
  top: 150px;
}

.hero-shape-2 {
  position: absolute;
  right: 50%;
}

.hero-shape-3 {
  position: absolute;
  bottom: 10%;
}

.hero-shape-4 {
  position: absolute;
  top: 10%;
  right: 10%;
}

.hero-shape-5 {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.hero-shape-7 {
  position: absolute;
  bottom: 0;
  top: 80%;
  right: 75%;
}

@media screen and (max-width: 768px) {
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-container-1 {
    padding: 2rem;
    margin-top: 2rem;
  }

  .image-1 {
    display: none;
  }

  .hero-shape-1 {
    top: 100px;
  }

  .hero-shape-2 {
    right: 50px;
  }

  .hero-shape-4 {
    right: 5%;
  }
}

/* ------------------- Review Section ------------------------ */

.review-section {
  min-height: 100vh;
  background-color: var(--white);
  min-width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.card-container {
  display: flex;
  width: 400px;
  padding: 25px;
  align-items: center;
  margin-top: 20px;
  box-shadow: var(--shadow-3);
  border-radius: 15px;
}

.card-container img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.review-name {
  font-weight: 600;
  font-size: 1rem;
}

.review-about-container {
  margin-top: 2rem;
}

.review-about-head {
  color: #000;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.review-about-head-1 {
  font-size: 1.75rem;
  line-height: normal;
  text-transform: none;
  font-weight: 500;
}

.review-about-para {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.review-about-list-container {
  margin-top: 15px;
  list-style: disc;
  margin-left: 2.5rem;
}

.review-about-list-container li {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

.review-btn {
  text-transform: capitalize;
  margin: 25px 10px;
}

.opinion-shape-1 {
  position: absolute;
  top: 6%;
  right: 10%;
}

.opinion-shape-2 {
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 768px) {
  .review-section {
    min-height: 100vh;
    background-color: var(--white);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    margin-top: 2rem;
  }

  .review-about-container {
    margin-left: 3rem;
  }

  .review-about-list-container {
    margin-left: 3rem;
  }

  .opinion-shape-1 {
    top: 0;
    right: -15%;
  }

  .opinion-shape-2 {
    bottom: -50%;
    left: 0;
    transform: rotate(-90deg);
  }
}

/* ----------- destination ----------------- */

.destination-section {
  padding: 2rem;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.destination-section h1 {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.destination-card img {
  width: 380px;
}

.destination-card {
  background: var(--white);
  border-radius: 25px;
  box-shadow: var(--shadow-3);
  margin: 1.3rem;
  width: 100%;
  padding: 1.2rem;
  height: fit-content;
}

.destination-card h4 {
  color: #000;

  /* Headline extra bold / h4 */
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.destination-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.destination-info p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.carousel-container {
  display: flex;
  flex-direction: column;
}

.arrow-container {
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.arrow-container p {
  color: var(--Black, #262626);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 93.75% */
}

.arrow-container span {
  color: var(--Gray, #7d7d7d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.arrow-btn {
  border: none;
  outline: none;
  background: transparent;
  height: 45px;
  width: 85px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .destination-section {
    min-width: 100%;
  }
}

/* -------------- Discount ----------------- */

.discount-section {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  position: relative;
}

.discount-image {
  height: 723px;
  z-index: 1;
}

.discount-head {
  color: #1f2027;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.discount-head-1 {
  color: #1f2027;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.discount-list-container {
  margin-top: 15px;
  list-style: disc;
  margin-left: 2.5rem;
}

.discount-list-container li {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

.discount-shape-1 {
  position: absolute;
  top: 15%;
}

.discount-shape-2 {
  position: absolute;
  top: 15%;
  left: 35%;
}

.discount-shape-3 {
  position: absolute;
  top: 20%;
  left: 50%;
}

.discount-shape-4 {
  position: absolute;
  bottom: 20%;
  left: 50%;
}

.discount-shape-5 {
  position: absolute;
  bottom: 12%;
  right: 15%;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .discount-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    min-width: 100%;
  }

  .discount-image {
    order: 0;
    height: 360px;
  }

  .discount-container {
    order: 1;
    margin: 2rem 0;
  }

  .discount-list-container {
    margin: 1rem 0 0 2rem;
  }

  .discount-head {
    font-size: 1.5rem;
  }

  .discount-head-1 {
    font-size: 1rem;
  }

  .discount-shape-1 {
    position: absolute;
    top: 3%;
    left: 5%;
  }

  .discount-shape-2 {
    display: none;
  }

  .discount-shape-3 {
    visibility: hidden;
  }

  .discount-shape-4 {
    position: absolute;
    bottom: 5%;
  }

  .discount-shape-5 {
    position: absolute;
    top: 12%;
    right: 25%;
    z-index: 0;
  }
}

/* ------------- Form ----------------- */
.form-section {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.form-image {
  height: 640px;
}

.form-container {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: var(--shadow-4);
  padding: 1.5rem;
  margin-top: 6rem;
  z-index: 10;
}

.form-container h3 {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

.form-container p {
  color: #282828;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.584px;
  margin-bottom: 1rem;
}

.form-container form label {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.848px; /* 209.091% */
  letter-spacing: 0.584px;
  text-transform: uppercase;
  display: block;
}

.form-container form input {
  border-radius: 12px;
  border: 0px solid #000;
  background: #f3f3f3;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
}

.form-container form input::placeholder {
  font-family: Inter;
}

.arrival-departure-container {
  display: flex;
  justify-content: space-between;
}

.arrival-departure-container input {
  display: block;
}

.star-room-container {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-1 {
  margin: 0.8rem 0;
  display: flex;
}

.container-1 p {
  border: 0px solid #000;
  background: #f3f3f3;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  font-family: Inter;
  margin: 0;
  font-weight: 700;
}

.minus {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #ebebeb;
  height: 25px;
  padding: 5px;
  width: 35px;
  cursor: pointer;
}

.plus {
  cursor: pointer;
  width: 35px;
  padding: 5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #ebebeb;
  height: 25px;
}

.form-btn {
  background-color: black;
  border-radius: 5px;
  color: var(--white);
  font-family: Poppins;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.2;
  width: 125px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-shape {
  position: absolute;
  top: 20%;
  left: 40%;
}

@media screen and (max-width: 768px) {
  .form-image {
    display: none;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  .form-container {
    margin: 0;
  }

  .form-shape {
    top: 10%;
    z-index: 1;
  }
}

/* -------------- Testimonial Section ------------------- */

.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  background-color: #f2f2f2;
}

.testimonial-head {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.testimonial-section hr {
  width: 20%;
  color: #a0cd9e;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.testimonial-container {
  display: flex;
  align-items: center;
}

.testimonial-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  margin: 2rem 2rem 0 2rem;
  /* border: 1px solid red; */
}

.testimonial-item-image {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 1.2rem;
}

.testimonial-item-container h4 {
  color: var(--black-fonts-headings, #2d2e2e);
  text-align: center;

  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.testimonial-item-container p {
  color: var(--black-fonts-headings, #2d2e2e);
  text-align: center;

  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

@media screen and (max-width: 768px) {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

/* ------------------ Footer ------------------- */

.footer-section {
  text-align: center;
  padding: 2rem 0;
  margin: 2rem 0;
}

.footer-section h1 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem 0;
}

.footer-para {
  margin: 2rem 0;
  color: #000;
  text-align: center;

  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 3rem;
}

.footer-1 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--black-fonts-headings, #2d2e2e);

  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 2rem;
}

.footer-1 p {
  cursor: pointer;
}

.footer-2 p {
  cursor: pointer;
}

.footer-2 {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: var(--black-fonts-headings, #2d2e2e);
  gap: 20px;

  /* Text-b */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-right: 2px solid black;
}

@media screen and (max-width: 768px) {
  .footer-section {
    padding: 3rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
